<!--
<app-main-nav
  [deviceXs]="deviceXs"
  [isLoggedIn]="isLoggedIn"
  [showAdminBoard]="showAdminBoard"
  [showModeratorBoard]="showModeratorBoard"
  [username]="username"
>
  <div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  </div>
</app-main-nav>
-->
<!--
<div id="app">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{ hidden: !(isHandset$ | async) }"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar
        ><img
          src="../../assets/img/logo.png"
          style="margin: -10px; height: 150px"
        />
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">How It Works</a>
        <a mat-list-item href="#">About Us</a>
        <a mat-list-item href="#">Contact Us</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <mat-toolbar-row fxLayoutAlign="space-between center">
          <div fxLayout="row">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async"
            >
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              <span
                ><img
                  src="../../assets/img/logo.png"
                  style="margin: -100px 10px; height: 150px"
              /></span>
            </button>
            <div *ngIf="!deviceXs">
              <button mat-button>
                <span
                  ><img
                    src="../../assets/img/logo.png"
                    style="margin: -25px; height: 150px"
                /></span>
              </button>
              <button mat-button>
                <span>How It Works</span>
              </button>
              <button mat-button>
                <span>About Us</span>
              </button>
              <button mat-button>
                <span>Contact Us</span>
              </button>
            </div>
          </div>
          <div *ngIf="!isLoggedIn">
            <button mat-button style="margin: 0px 5px">
              <span><a href="/login" routerLink="login">Log In</a></span>
            </button>
            <button mat-raised-button color="primary">
              <span><a href="/register" routerLink="register">Sign Up</a></span>
            </button>
          </div>
          <div *ngIf="isLoggedIn">
            <button mat-button style="margin: 0px 5px">
              <span
                ><a href="/profile" routerLink="profile">{{
                  username
                }}</a></span
              >
            </button>
            <button mat-button style="margin: 0px 5px">
              <span><a href(click)="logout()">Log Out</a></span>
            </button>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
-->

<!--
<div id="app">
  <nav class="navbar navbar-expand navbar-light bg-white">
    <a class="navbar-brand p-0" href="/">
      <img
        src="/assets/img/logo.png"
        width="200"
        height="150"
        alt="Home Reno Web"
      />
    </a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Home </a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user"
          >User</a
        >
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{
          username
        }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
-->
<!--
<div id="app">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{ hidden: !(isHandset$ | async) }"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar
        ><img
          src="../../assets/img/logo.png"
          style="margin: -10px; height: 150px"
        />
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">How It Works</a>
        <a mat-list-item href="#">About Us</a>
        <a mat-list-item href="#">Contact Us</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <mat-toolbar-row fxLayoutAlign="space-between center">
          <div fxLayout="row">
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async"
            >
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              <span
                ><img
                  src="../../assets/img/logo.png"
                  style="margin: -100px 10px; height: 150px"
              /></span>
            </button>
            <div *ngIf="deviceXs">
              <button *ngIf="!isLoggedIn" mat-button>
                <span><a href="/login" routerLink="login">Log In</a></span>
              </button>
              <button *ngIf="!isLoggedIn" mat-raised-button color="primary">
                <span
                  ><a href="/register" routerLink="register">Sign Up</a></span
                >
              </button>
              <button *ngIf="isLoggedIn" mat-button>
                <span
                  ><a href="/profile" routerLink="profile">{{
                    username
                  }}</a></span
                >
              </button>
              <button *ngIf="isLoggedIn" mat-button>
                <span><a href (click)="logout()">Log Out</a></span>
              </button>
            </div>
            <div *ngIf="!deviceXs" class="customFlexContainer">
              <div>
                <button mat-button>
                  <span
                    ><img
                      src="../../assets/img/logo.png"
                      style="margin: -25px; height: 150px"
                  /></span>
                </button>
                <button mat-button>
                  <span>How It Works</span>
                </button>
                <button mat-button>
                  <span>About Us</span>
                </button>
                <button mat-button>
                  <span>Contact Us</span>
                </button>
              </div>
              <div>
                <button *ngIf="!isLoggedIn" mat-button>
                  <span><a href="/login" routerLink="login">Log In</a></span>
                </button>
                <button *ngIf="!isLoggedIn" mat-raised-button color="primary">
                  <span
                    ><a href="/register" routerLink="register">Sign Up</a></span
                  >
                </button>
                <button *ngIf="isLoggedIn" mat-button>
                  <span
                    ><a href="/profile" routerLink="profile">{{
                      username
                    }}</a></span
                  >
                </button>
                <button *ngIf="isLoggedIn" mat-button>
                  <span><a href (click)="logout()">Log Out</a></span>
                </button>
              </div>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
-->
<div id="app">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass]="{ hidden: !(isHandset$ | async) }"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <mat-toolbar
        ><img
          src="../../assets/img/logo.png"
          style="margin: -10px; height: 150px"
        />
      </mat-toolbar>
      <div fxLayout="column" class="customFlexContainer">
        <button mat-button *ngIf="showAdminBoard">
          <span><a href="/admin" routerLink="admin">Admin</a></span>
        </button>
        <button mat-button *ngIf="showModeratorBoard">
          <span><a href="/mod" routerLink="mod">Moderator</a></span>
        </button>
        <button mat-button *ngIf="isLoggedIn">
          <span><a href="/user" routerLink="user">User</a></span>
        </button>
        <button mat-button>
          <span>How It Works</span>
        </button>
        <button mat-button>
          <span>About Us</span>
        </button>
        <button mat-button>
          <span>Contact Us</span>
        </button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div *ngIf="deviceXs">
        <div class="customFlexContainer">
          <div>
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()"
              *ngIf="isHandset$ | async"
            >
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
              <span
                ><img
                  src="../../assets/img/logo.png"
                  style="margin: -100px 10px; height: 150px"
              /></span>
            </button>
          </div>
          <div>
            <button *ngIf="!isLoggedIn" mat-button>
              <span><a href="/login" routerLink="login">Log In</a></span>
            </button>
            <button *ngIf="!isLoggedIn" mat-button color="primary">
              <span><a href="/register" routerLink="register">Sign Up</a></span>
            </button>
            <button *ngIf="isLoggedIn" mat-button>
              <span
                ><a href="/profile" routerLink="profile">{{
                  username
                }}</a></span
              >
            </button>
            <button *ngIf="isLoggedIn" mat-button>
              <span><a href (click)="logout()">Log Out</a></span>
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="!deviceXs">
        <div class="customFlexContainer">
          <div>
            <button mat-button>
              <span
                ><img
                  src="../../assets/img/logo.png"
                  style="margin: -25px; height: 150px"
              /></span>
            </button>
            <button mat-button *ngIf="showAdminBoard">
              <span><a href="/admin" routerLink="admin">Admin</a></span>
            </button>
            <button mat-button *ngIf="showModeratorBoard">
              <span><a href="/mod" routerLink="mod">Moderator</a></span>
            </button>
            <button mat-button *ngIf="isLoggedIn">
              <span><a href="/user" routerLink="user">User</a></span>
            </button>
            <button mat-button>
              <span>How It Works</span>
            </button>
            <button mat-button>
              <span>About Us</span>
            </button>
            <button mat-button>
              <span>Contact Us</span>
            </button>
          </div>
          <div>
            <button *ngIf="!isLoggedIn" mat-button>
              <span><a href="/login" routerLink="login">Log In</a></span>
            </button>
            <button *ngIf="!isLoggedIn" mat-button color="primary">
              <span><a href="/register" routerLink="register">Sign Up</a></span>
            </button>
            <button *ngIf="isLoggedIn" mat-button>
              <span
                ><a href="/profile" routerLink="profile">{{
                  username
                }}</a></span
              >
            </button>
            <button *ngIf="isLoggedIn" mat-button>
              <span><a href (click)="logout()">Log Out</a></span>
            </button>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <div class="container-fluid bg-light">
    <router-outlet></router-outlet>
  </div>
</div>
